:root {
  /* color variables */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 2px;
}

/* body[data-theme='light'] {
  --white: #ffffff;
  --dark-grey: #242424;
  --light-grey: #3d3d3d;
  --star-yellow: #ffff00;
  --forrest-green: #34c759;
  --input-border: var(--dark-grey);
  --input-background: var(--white);
  --input-color: var(--dark-grey);
  background-color: var(--white);
} */

body[data-theme='dark'] {
  --white: #ffffff;
  --dark-grey: #242424;
  --light-grey: #3d3d3d;
  --star-yellow: #ffff00;
  --forrest-green: #34c759;
  --input-border: var(--white);
  --input-background: var(--light-grey);
  --input-color: var(--white);
  background-color: var(--dark-grey);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
}

input,
a,
button {
  all: unset;
}

h1 {
  padding: 0;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion) {
  body {
    transition: none;
  }
}
